extends layout

block content
    h1= title
    h2 Costs
    table.table.table-striped
        thead
            tr
                th Time
                th Cost
        tbody
            each cost in costs
                tr
                    td= new Date(cost.time)
                    td= cost.cost
    h2 Aggregated Costs
    table.table.table-striped
        thead
            tr
                th Date
                th Aggregated Costs
        tbody
            each cost in aggregatedCosts
                tr
                    td= new Date(cost.date)
                    td= cost.total

